{{ $additionalTitleText := "Product Family" }}
{{ if .Get "additionalTitleText"  }}
  {{ $additionalTitleText = .Get "additionalTitleText" | markdownify }}
{{ end }}
<div class="col-md-4 gridblock">
    <div class="docs-card" >
    <h3><a class="card-title" href='{{ .Get "href" }}'>{{ .Get "title" | markdownify }}</a></h3>
    <span class="docs-span">{{ if .Get "additionalTitle"}} {{ .Get "additionalTitle" | markdownify }} {{ end }}{{$additionalTitleText}}</span>
    {{ .Inner }}
    </div>
  </div>
</div>
