.app-font-converter {
  width: 100%;
  padding: 5px 0;
  margin: 0;

  .header {
    background: silver !important;
    font-size: 13px;
    font-weight: 700;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    margin: 0;
  }

  .parameters {
    color: #f8f8f2 !important;
    background-color: #a2a2a2 !important;
  }

  .action {
    text-align: right;
    margin: auto;
    padding: 10px 20px 10px 10px;
  }

  .description {
    text-align: left;
    margin: auto;
    padding: 10px 10px 10px 20px;
    box-sizing: border-box;
  }

  .disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.8;
  }

  .hidden {
    display: none;
  }

  .nopadding {
    padding: 0px 0px 0px 0px;
  }

  .ml-25 {
    display: inline-block;
    margin-left: 25px;
  }

  .actionButton {
    height: 45px;
    width: 200px;
    background: #8fd14f;
    color: white;
    padding: 10px 40px;
    font-size: 16px;
    font-weight: 400;
    outline: 0 !important;
    border: 1px solid #5c5c5c !important;
    /*from bootstrap btn*/
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    line-height: 1.42857143;
    user-select: none;
    text-decoration: none;
    transition: opacity 0.2s ease-in;

    &:hover {
      opacity: 0.8;
      text-decoration: none;
      color: white;
    }
  }

  .outputFormat {
    padding: 0px 2px 1px;

    &:hover {
      opacity: 0.8;
      text-decoration: none;
      color: white;
    }
  }

  .backgroundBlue {
    background: #2e79b8;
  }

  .separator {
    border-top: 1px solid silver;
  }

  .fileInput {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }

  .footer {
    background: silver !important;
    font-size: 13px;
    font-weight: 300;
    padding: 10px 10px 10px 10px;
    border-radius: 0 0 10px 10px;
    margin: -20;
    height: 40px;
  }

  .code {
    margin: auto;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 100%;
    background: #5a616a !important;
  }

  .code .hljs {
    white-space: pre !important;
    border-radius: 0;
  }

  .error {
    color: #de3e35;
  }

  .clipboard {
    float: right;
    touch-action: manipulation;
    cursor: pointer;
    &:hover {
      color: #468c02;
      fill: #468c02;
    }

    .bi-clipboard {
      width: 20px;
      height: 20px;
    }

    a {
      position: relative;
      user-select: none;
      text-decoration: none;
      color: #0f0f0f;
      touch-action: manipulation;
      cursor: pointer;
      font-weight: 700;

      &:hover {
        color: #468c02;
      }
    }
  }

  // Here is where the magic happens
  $offset: 187;
  $duration: 1.4s;

  .spinner {
    animation: rotator $duration linear infinite;
    width: 30px;
    height: 30px;
  }

  @keyframes rotator {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(270deg);
    }
  }

  .path {
    stroke-dasharray: $offset;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: dash $duration ease-in-out infinite, colors ($duration * 4) ease-in-out infinite;
  }

  @keyframes colors {
    0% {
      stroke: darkblue;
    }
    25% {
      stroke: #de3e35;
    }
    50% {
      stroke: #f7c223;
    }
    75% {
      stroke: darkorchid;
    }
    100% {
      stroke: darkblue;
    }
  }

  @keyframes dash {
    0% {
      stroke-dashoffset: $offset;
    }
    50% {
      stroke-dashoffset: $offset/4;
      transform: rotate(135deg);
    }
    100% {
      stroke-dashoffset: $offset;
      transform: rotate(450deg);
    }
  }

/*!
  Theme: StackOverflow Dark
  Description: Dark theme as used on stackoverflow.com
  Author: stackoverflow.com
  Maintainer: @Hirse
  Website: https://github.com/StackExchange/Stacks
  License: MIT
  Updated: 2021-05-15

  Updated for @stackoverflow/stacks v0.64.0
  Code Blocks: /blob/v0.64.0/lib/css/components/_stacks-code-blocks.less
  Colors: /blob/v0.64.0/lib/css/exports/_stacks-constants-colors.less
*/

.hljs {
  /* var(--highlight-color) */
  color: #ffffff;
  /* var(--highlight-bg) */
}

.hljs-subst {
  /* var(--highlight-color) */
  color: #ffffff;
}

.hljs-comment {
  /* var(--highlight-comment) */
  color: #999999;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-meta .hljs-keyword,
.hljs-doctag,
.hljs-section {
  /* var(--highlight-keyword) */
  color: #88aece;
}

.hljs-attr {
  /* var(--highlight-attribute); */
  color: #88aece;
}

.hljs-attribute {
  /* var(--highlight-symbol) */
  color: #c59bc1;
}

.hljs-name,
.hljs-type,
.hljs-number,
.hljs-selector-id,
.hljs-quote,
.hljs-template-tag {
  /* var(--highlight-namespace) */
  color: #f08d49;
}

.hljs-selector-class {
  /* var(--highlight-keyword) */
  color: #88aece;
}

.hljs-string,
.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr {
  /* var(--highlight-variable) */
  color: #b5bd68;
}

.hljs-meta,
.hljs-selector-pseudo {
  /* var(--highlight-keyword) */
  color: #88aece;
}

.hljs-built_in,
.hljs-title,
.hljs-literal {
  /* var(--highlight-literal) */
  color: #f08d49;
}

.hljs-bullet,
.hljs-code {
  /* var(--highlight-punctuation) */
  color: #cccccc;
}

.hljs-meta .hljs-string {
  /* var(--highlight-variable) */
  color: #b5bd68;
}

.hljs-deletion {
  /* var(--highlight-deletion) */
  color: #de7176;
}

.hljs-addition {
  /* var(--highlight-addition) */
  color: #76c490;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-formula,
.hljs-operator,
.hljs-params,
.hljs-property,
.hljs-punctuation,
.hljs-tag {
  /* purposely ignored */
}
}
