<!-- Google Tag Manager (noscript) -->
<noscript>
    {{ if (in .Site.BaseURL "aspose.app") -}}
        <iframe src="https://www.googletagmanager.com/ns.html?id={{- .Site.Params.gtm.products_app_id -}}"
        height="0" width="0" style="display:none;visibility:hidden"></iframe>
    {{- else -}}
        {{- if (in .Site.BaseURL "conholdate.com") -}}
            <iframe src="https://www.googletagmanager.com/ns.html?id={{- .Site.Params.gtm.conholdate_id -}}"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>    
        {{- else -}}
            {{- if (in .Site.BaseURL "aspose.cloud") -}}
                <iframe src="https://www.googletagmanager.com/ns.html?id={{- .Site.Params.gtm.cloud_id -}}"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
            {{- else -}}
                <iframe src="https://www.googletagmanager.com/ns.html?id={{- .Site.Params.gtm.aspose_id -}}"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
            {{- end -}}
        {{- end -}}
    {{ end }}
</noscript>
<!-- End Google Tag Manager (noscript) -->
