
{{- $scssMain := "scss/main.scss"}}
{{- $scssProductsMain := "scss/products-main.scss"}}
{{- $scssCodeBlock := "scss/_code-block.scss"}}
{{- $scssCodeportingCommon := "scss/_codeporting-common.scss"}}


{{- $css := resources.Get $scssMain | toCSS (dict "enableSourceMap" false) | postCSS | resources.Minify | fingerprint -}}
<link rel="preload" href="{{- $css.RelPermalink -}}" as="style">
<link href="{{- $css.RelPermalink -}}" rel="stylesheet" integrity="{{- $css.Data.integrity -}}">

{{- if in .Site.BaseURL "codeporting.com" -}}
      {{- $cssCodeporting := resources.Get $scssCodeportingCommon | toCSS (dict "enableSourceMap" false) | postCSS | resources.Minify | fingerprint -}}
      <link href="{{- $cssCodeporting.RelPermalink -}}" rel="stylesheet" integrity="{{- $cssCodeporting.Data.integrity -}}">
{{- else -}}
  {{- if (and (in .Site.BaseURL "products") (in .Site.BaseURL "aspose.com")) -}}
      {{- $cssProducts := resources.Get $scssProductsMain | toCSS (dict "enableSourceMap" false) | postCSS | resources.Minify | fingerprint -}}
      <link href="{{- $cssProducts.RelPermalink -}}" rel="stylesheet" integrity="{{- $cssProducts.Data.integrity -}}">
  {{- else -}}
      {{- $cssCodeBlockSyntax := resources.Get $scssCodeBlock | toCSS (dict "enableSourceMap" false) | postCSS | resources.Minify | fingerprint -}}
      <link href="{{- $cssCodeBlockSyntax.RelPermalink -}}" rel="stylesheet" integrity="{{- $cssCodeBlockSyntax.Data.integrity -}}">
  {{- end -}}
{{- end -}}

