{{ $dot := . }}
{{ $dot.Scratch.Set "path" "" }}
{{ $dot.Scratch.Set "breadcrumb" slice }}

{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
{{ $.Scratch.Add "path" .Site.BaseURL }}

{{ $.Scratch.Add "breadcrumb" (slice (dict "url" .Site.BaseURL "name" "home" "position" 1 )) }}
  {{ range $index, $element := split $url "/" }}
    {{ $dot.Scratch.Add "path" $element }}
    {{ $.Scratch.Add "path" "/" }}
    {{ if ne $element "" }}
    {{ $.Scratch.Add "breadcrumb" (slice (dict "url" ($.Scratch.Get "path") "name" . "position" (add $index 2))) }}
  {{ end }}
{{ end }}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{{ range $.Scratch.Get "breadcrumb" }}{{ if ne .position 1 }},{{ end }}{
        "@type": "ListItem",
        "position": {{ .position }},
        "item": {
          "@id": "{{ .url }}",
          "name": "{{ title .name }}"
        }
    }{{ end }}]
}
</script>

{{ $firstUrlElement := index (split .RelPermalink "/") 1 }}
{{ $secondUrlElement := index (split .RelPermalink "/") 2 }}
<script type = "application/ld+json" >
{
  "@context": "http://schema.org/",
  "@type": "SoftwareApplication",
  "name": "Aspose.{{title $firstUrlElement}} for {{title $secondUrlElement}}",
  "applicationCategory": "DeveloperApplication",
  "image": [
    "https://www.aspose.cloud/templates/aspose/img/products/{{ $firstUrlElement}}/aspose_{{ $firstUrlElement}}-for-{{ $secondUrlElement}}.svg"
  ],
  "description": "{{ .Page.Params.description }}",
  "downloadUrl": "https://downloads.aspose.com/{{ $firstUrlElement }}/{{ $secondUrlElement }}",
  "releaseNotes": "https://docs.aspose.com/{{ $firstUrlElement }}/{{ $secondUrlElement }}/release-notes/",
  "operatingSystem": [
    "Windows",
    "Linux",
    "macOS"
  ]
}
</script> 

<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Article",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ .Site.BaseURL }}{{ .RelPermalink }}"
  },
  "headline": "{{ .Page.Params.title }}",
  "description": "{{ .Page.Params.description }}",
  "image": {
    "@type": "ImageObject",
    "url": "https://www.aspose.cloud/templates/aspose/img/products/{{ $firstUrlElement}}/aspose_{{ $firstUrlElement}}-for-{{ $secondUrlElement}}.svg",
    "width": "",
    "height": ""
  },
  "author": {
    "@type": "Organization",
    "name": "Aspose Pty Ltd"
  },
  "publisher": {
    "@type": "Organization",
    "name": "Aspose Pty Ltd",
    "logo": {
      "@type": "ImageObject",
      "url": "https://about.aspose.com/templates/aspose/img/svg/aspose-logo.svg",
      "width": "",
      "height": ""
    }
  },
  "datePublished": "2021-01-01"
}
</script> 

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "Aspose Pty. Ltd.",
  "url": "https://www.aspose.com",
  "logo": "https://about.aspose.com/templates/aspose/img/svg/aspose-logo.svg",
  "alternateName": "Aspose",
  "sameAs": [
    "https://www.facebook.com/Aspose/",
    "https://twitter.com/Aspose",
    "https://www.youtube.com/user/AsposeVideo",
    "https://www.linkedin.com/company/aspose",
    "https://stackoverflow.com/questions/tagged/aspose",
    "https://aspose.quora.com/",
    "https://aspose.github.io/"
  ],
  "contactPoint": [
    {
      "@type": "ContactPoint",
      "telephone": "+1 903 306 1676",
      "contactType": "sales",
      "areaServed": "US",
      "availableLanguage": "en"
    },
    {
      "@type": "ContactPoint",
      "telephone": "+44 141 628 8900",
      "contactType": "sales",
      "areaServed": "GB",
      "availableLanguage": "en"
    },
    {
      "@type": "ContactPoint",
      "telephone": "+61 2 8006 6987",
      "contactType": "sales",
      "areaServed": "AU",
      "availableLanguage": "en"
    }
  ]
}
</script>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "url": "https://www.aspose.com",
  "sameAs": [
    "https://search.aspose.com",
    "https://docs.aspose.com",
    "https://blog.aspose.com",
    "https://forum.aspose.com",
    "https://products.aspose.com",
    "https://about.aspose.com",
    "https://purchase.aspose.com",
    "https://apireference.aspose.com"
  ],
  "potentialAction": {
    "@type": "SearchAction",
    "target": "https://search.aspose.com/search/?q={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>