{{ $quotesCounter := .Parent.Scratch.Get "innerQuotesCounter" }}
{{ if not $quotesCounter }}
    {{ $quotesCounter := 1 }}
    {{ .Parent.Scratch.Add "innerQuotesCounter" $quotesCounter }}
{{ else }}
    {{ $quotesCounter := add $quotesCounter 1 }}
    {{ .Parent.Scratch.Delete "innerQuotesCounter" }}
    {{ .Parent.Scratch.Add "innerQuotesCounter" $quotesCounter }}
{{ end }}
<div class='carousel-item {{ if eq (.Parent.Scratch.Get "innerQuotesCounter") 1 }} active {{ end }}'>
    <p class="first">{{ .Inner }} <em>{{ .Get "poster" }}</em></p>
</div>