{{ $id := substr (md5 .Inner) 0 16 }}
{{ $title := index .Params 0 }}
{{ $inputFormat := index (split (index (after 1 .Params) 0) "|") 0 }}
{{ $outputFormats :=  after 2 .Params }}

<div class="app-tex-converter" id="{{ $id }}">
    <div class="header">
        {{$title}}
    </div>
    <div class="parameters {{if eq (len $inputFormat) 0}} hidden {{end}}">
        <div class="row pt-3">
            <div class="col-2 description">
                <span class="ml-25">Input file</span>
            </div>
            <div class="col action">
                <form id="fileInputContainer">
                    {{ $accept := $inputFormat }}
                    <input type="file" class="fileInput" id="fileInput_{{ $id }}" name="fileupload" accept=".{{lower $accept }}">
                    <label class="actionButton backgroundBlue" for="fileInput_{{ $id }}">Upload a file</label>
                </form>
            </div>

            <div class="col description">
                <span id="fileName_{{ $id }}">Upload a file you want to convert</span>
            </div>
            
            <div class="col action" style="text-align: right;">
                <a class="actionButton disabled" type="button" id="run_{{ $id }}">
                    <svg class="spinner hidden" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                    </svg>
                    <span>Run code</span>
                </a>
            </div>

        </div>
        <div class="row pb-3">
            <div class="col-2 description">
                <span class="ml-25">Output format</span>
            </div>
            <div class="col action">
                <select class="actionButton backgroundBlue outputFormat" id="outputFormat_{{ $id }}">
                    {{range $outputFormats}}
                        {{$f := index (split . "|") 0 }}
                        <option value={{$f}}>{{$f}}</option>
                    {{end}}
                </select>

            </div>
            <div class="col description">
                Select the target format
            </div>
            <div class="col action">
                
            </div>
        </div>
    </div>
    <div class="separator"></div>
    <div class="codeblock">
        <pre class="hidden">
            <textarea id="template_{{ $id }}">
                {{ .Inner }}
            </textarea>
        </pre>
        <pre class="code"><code id="snippet_{{ $id }}" noCopyButton >
        </code></pre>
    </div>
    

    <div class="footer">
        <span class="error hidden" id="error_{{ $id }}"></span>
		<div class="clipboard">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"></path>
                <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"></path>
            </svg>
            <span class="copyCodeButton" href="javascript:void(0)" onclick="window['app_{{ $id }}'].copyCode()">Copy C# code to the clipboard</span>
        </div>
	</div>
</div>
<script>
    var p = {{ .Params }};
    document.addEventListener('DOMContentLoaded', (event) => { this['app_{{ $id }}'] = initAppTeXConverter('{{ $id }}', p); });
</script>
<script 
    src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js" 
    integrity="sha512-RNLkV3d+aLtfcpEyFG8jRbnWHxUqVZozacROI4J2F1sTaDqo1dPQYs01OMi1t1w9Y2FdbSCDSQ2ZVdAC8bzgAg==" 
    crossorigin="anonymous" 
    referrerpolicy="no-referrer">
  </script>