.nav-tabs {
    margin-top: 2rem;
}

.tab-content {
    border: 1px solid #dee2e6;
    border-top: none;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
	padding: 2rem 0 2rem 1rem;
}
