<ul>
{{ $currentSection := $.Page.CurrentSection }}
    {{ with $currentSection.Parent }}
        {{ $parentSection := . }}
        {{ range $elem_index, $elem_val := .Sections }}
        <li>
            {{ if not (eq $elem_val.Title $currentSection.Title) }}
            <a href='{{ $elem_val.RelPermalink }}'>
                {{ $elem_val.Title }}
            </a> 
            {{ else }}
                <strong>{{ $elem_val.Title }}</strong>
            {{ end }}
        </li>
        {{end}}  
{{ end }}
</ul>
