<!doctype html>
<html lang="{{- .Site.Language.Lang -}}" class="no-js">
  <head>
    {{if in .Permalink "/404.html" -}}
      {{- partial "head.html" . -}}
    {{- else -}}
      {{- partial "head.html" . -}}
    {{- end -}}
  </head>
  <body class="td-{{- .Kind -}}">
    {{- partial "google-tag-manager-script.html" . -}}
    <header>
      <div id='DynabicMenuInnerDiv'>
        {{- partial "create-containerize-menu.html" . -}}
      </div>
    </header>

    <div class="container-fluid td-default td-outer set-min-height">
      <main role="main" class='td-main'>
        {{- block "main" . -}}{{- end -}}
      </main>
    </div>
    {{- partialCached "scripts.html" . -}}
    <div id='DynabicMenuFooter'>
      {{- partial "create-containerize-footer.html" . -}}
    </div>
  </body>
</html>